@import "../../../main.scss";

.c-input {
    width: 100%;
    label {
        color: $color-white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
        span {
            min-width: 100px;
        }
        input {
            border-radius: 10px;
            width: 100%;
            margin-left: 20px;
            padding: 6px;

            &:hover {
                
            }
            
            &:disabled {
                background-color: $color-grey-dark;
                color: $color-black-dark;
                cursor: not-allowed;
                box-shadow: none;
                border: none;
            }
            
            @include bpDesktopUp() {
                padding: 10px;
            }
        }
    }

    &__error {
        color: red;
        padding: 6px;
        margin-top: 4px;
    }
}
