@import "../../../main.scss";

.c-summary {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 999;
    background-color: $color-black-dark;
    border: 2px solid $color-white;
    top: -100vh;
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
    border-radius: 20px;
    padding: 20px;

    transition: 0.5s all ease-in-out;
    &.is-visible {
        top: 40px;
    }

    h1 {
        text-align: center;
    }

    &__upper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        
        @include bpDesktopUp() {
            flex-direction: row;
        }
        
        h1 {
            text-align: left;
        }
        img {
            width: 100%;
            max-width: 500px;
        }
    }
    
    &__lower {
        color: $color-white;
    }
}