p,
a,
h1,
h2,
h3 {
    color: $color-white;
}

.container {
    @include bpDesktopUp() {
        max-width: 1140px;
    }

    &__spacer {
        margin-top: $header-height-mobile;
        
        @include bpDesktopUp() {
            margin-top: $header-height-desktop;
            height: calc(100vh - #{$header-height-desktop});
        }
    }
}

