// Breakpoints
$bp-xs: 300px;
$bp-sm: 600px;
$bp-md: 960px;
$bp-lg: 1280px;
$bp-xl: 1920px;

$header-height-mobile: 45px;
$header-height-desktop: 60px;

$font-default: 'OpenSans-Regular, Roboto, sans-serif';