@import "../../main.scss";

.p-home {
    padding: 0 20px;
    display: flex;
    // margin-top: $header-height-mobile;
    overflow: hidden;
    position: relative;

    // @include bpDesktopUp() {
    //     margin-top: $header-height-desktop;
    //     height: calc(100vh - #{$header-height-desktop});
    // }

    h1 {
        text-align: center;
    }

    &__panel {
        width: 0;
        box-shadow: 4px 0px 6px rgba($color: $color-white, $alpha: 0.5);
        position: relative;
        overflow: auto;
        position: absolute;
        top: $header-height-mobile;
        padding: 0;
        height: calc(100vh - #{$header-height-mobile});

        @include bpDesktopUp() {
            padding: 20px 20px 0 0;
            width: 100%;
            top: 0;
            height: 100%;
            position: relative;
            text-align: right;
        }

        a {
            display: block;
            color: $color-grey-dark;
            text-decoration: none;
            padding: 10px 10px;
            margin-top: 10px;
            position: relative;
            transition: 0.2s all ease-in-out;

            &:hover {
                color: $color-white;
            }

            @include bpDesktopUp() {
            }
        }

        &.is-open {
            width: auto;
        }
    }

    &__inner {

        overflow: scroll;
        scroll-behavior: smooth;
        height: calc(100vh - #{$header-height-mobile});
        -ms-overflow-style: none; /* Internet Explorer 10+ */
        scrollbar-width: none; /* Firefox */
        &::-webkit-scrollbar {
            display: none; /* Safari and Chrome */
        }
        @include bpDesktopUp() {
            padding: 0 0 20px 20px;
            height: 100%
        }
    }
}
